.aboutContainer {
  padding: 1rem;
}

.content {
  /* font-style: italic; */
  font-size: 1.2em;
  margin: 1rem 0;
  font-weight: 400;
  color: #333;
}

.subContentContainer {
  margin: 2rem 0 1rem 0;
  border-radius: 0.5em;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.subContentContainer p {
  font-size: 1.5em;
  margin: 1rem 0;
}

.subContent {
  /* font-style: italic; */
  font-weight: 500;
  color: #fff;
}
