.sectionWrapper {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
  /* margin-top: 3.125rem; */
  background-color: #e0e0e0;
  opacity: 100;
  display: flex;
  justify-content: center;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.sectionWrapperFadeIn {
  opacity: 0;
}

.formContainer {
  padding: 1rem;
  /* width: 100%; */
}

.formSubContainer {
  display: flex;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
}

.formSubContainer h1 {
  margin: 1rem;
}

.subHeading {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  border-radius: 0.3125rem;
  padding: 0.3rem;
  border: 0.0625rem solid rgb(162, 160, 160);
}

.inputContainer {
  width: 100%;
  padding: 0 0.5rem;
}

.inputContainer input:focus {
  outline: none !important;
  border: 0.0625rem solid black;
  box-shadow: 0 0 0.3125rem #719ece;
}

.inputContainer textarea:focus {
  outline: none !important;
  border: 0.0625rem solid black;
  box-shadow: 0 0 0.3125rem #719ece;
}

.telContainer {
  padding-bottom: 1.5rem;
}

.styledForm {
  width: 100%;
}

.icon {
  margin-top: 1.25rem;
  color: rgb(20, 122, 20);
  font-size: 12.5rem;
}

.thankYouContainer {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  all: unset;
  cursor: pointer;
  padding: 0.5rem;
  width: 3.75rem;
  font-weight: 700;
  border-radius: 0.3125rem;
  background-color: #2196f3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.button:hover {
  border: 0.0625rem solid rgb(162, 160, 160);
  background-color: #ffffff;
  color: black;
}

.error {
  font-size: 0.7em;
  color: red;
  margin: 0;
  height: 1.5rem;
}

/* Styles for tablets in portrait */
@media only screen and (min-width: 37.5rem) and (max-width: 64rem) and (orientation: portrait) {
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .formContainer {
    width: 50%;
  }
}
