.heroContainer {
  position: relative;
  height: 100%;
  /* border: 2px solid purple; */
}

.heroTitleContainer {
  padding-top: 1rem;
  z-index: 9997;
  width: 100%;
}

.heroTitleContainer h2 {
  margin: 0;
  font-size: 2em;
  line-height: normal;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
  position: absolute;
  max-width: 1280px; /* Constrain content width */
  width: 100%; /* Ensure content spans full width within constraints */
  height: 100%;
  margin: 0 auto; /* Center the container */
  text-align: center; /* Optional for centering text */
}

.telephoneContainer {
  background-color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 43%;
  z-index: 9997;
  font-size: 1.5em;
}

.telephoneContainer a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.heroSubTextContainer {
  top: 25%;
  z-index: 9997;
  font-size: 2.5em;
  font-weight: 700;
  font-style: italic;
}

.heroImage {
  object-fit: cover;
  height: 31.25rem;
  width: 100%;
  display: block;
}

.gradient {
  width: 100%;
  position: relative;
  /* display: inline-block; */
}
.gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;

  /* Updated Gradients with Reversed Directions */
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0%, rgba(0, 0, 0, 0.65)),
    color-stop(100%, rgba(0, 0, 0, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* TABLET */

@media only screen and (min-width: 37.5rem) and (max-width: 64rem) and (orientation: portrait) {
  .formContainer {
    width: 50%;
  }
  .content {
    padding: 2rem 0;
  }
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .heroContainer {
    padding-top: 4rem;
  }
  .heroImage {
    height: 41.25rem;
  }
  .content {
    padding: 2rem 0;
  }
  .heroTitleContainer {
    padding-top: 0;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .heroContainer {
    padding-top: 4rem;
  }
  .heroImage {
    height: 41.25rem;
  }
  .content {
    padding: 2rem 0;
  }
  .heroTitleContainer {
    padding-top: 0;
  }
}
