.navContainer {
  position: fixed;
  border: 1px solid yelow;
  display: flex;
  top: 0;
  width: 100%;
  height: 100vh;
  left: -100%;
  background-color: var(--secondary-color);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 9998;
}

.logo {
  object-fit: contain;
  width: 100%;
  max-width: 50%;
  height: auto; /* Let the height adjust based on aspect ratio */
  display: block;
}

.navItemsContainer {
  line-height: normal;
  width: 100%;
  z-index: 9997;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all ease 0.4s;
}
.navActive {
  transition: all ease 0.4s;
  left: 0;
  /* padding: 0 1rem; */
}

.navItemsContainer a {
  padding: 1.5rem;
  /* border: 1px solid red; */
  text-decoration: none;
  color: #ffffff;
}

.hamburgerContainer {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.linkContainer {
  width: 100%;
  padding: 1rem;
}

.linkWrapper {
  padding: 1rem 0;
  /* border: 1px solid red; */
  width: 100%;
}

.linkWrapper:hover {
  background-color: rgb(181, 179, 179);
}

.links {
  font-weight: 700;
}

@media only screen and (min-width: 37.5rem) and (max-width: 64rem) and (orientation: portrait) {
}

/* LAPTOP DESKTOP */

@media (min-width: 64.0625rem) and (max-width: 80rem) {
  .hamburgerContainer {
    display: none;
  }
}

/* LARGE SCREENS */

@media (min-width: 80.0625rem) {
  .hamburgerContainer {
    display: none;
  }
}
