.navContainer {
  position: fixed;
  border: 1px solid yelow;
  display: flex;
  top: 0;
  width: 100%;
  height: 100vh;
  left: -100%;
  background-color: var(--secondary-color);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  z-index: 9998;
}

.logo {
  object-fit: cover;
  /* height: 500px; */
  width: 100%;
  display: block;
}

.navItemsContainer {
  /* background-color: #011627; */
  /* border: 2px solid yellow; */
  width: 100%;
  z-index: 9997;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all ease 0.4s;
}
.navActive {
  transition: all ease 0.4s;
  left: 0;
  /* padding: 0 1rem; */
}

.navItemsContainer a {
  padding: 1.5rem;
  /* border: 1px solid red; */
  text-decoration: none;
  color: #ffffff;
}

.hamburgerContainer {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.linkContainer {
  padding: 1rem 0;
  /* border: 1px solid red; */
  width: 100%;
}

.linkContainer:hover {
  background-color: rgb(181, 179, 179);
}

.links {
  font-weight: 700;
}
